body {
    background-color: black;
}
header {
    display: flex;
    background-color: white;
    margin: 0 100px;
    border-radius: 50px;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;    
}
main {
    background-color: lime;
    padding: 60px;
    /* border: solid 1px black; */
    margin: 0 auto;
    width: 400px;
    border-radius: 50px;
}
